# Data files (too large for git)
data/raw/*.csv
data/processed/*.npy
data/processed/*.joblib

# Trained models
models/*.joblib

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Virtual env
venv/
env/
Listoncyber.pdf
presentation/.~lock.*
